@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #f07509; 
  --color-accent: #111827;  
  --color-bg: #ffffff;      
  --color-text: #000000;  
}

body {
  @apply bg-gray-100;
}